In [22]:
#import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
from sklearn.model_selection import ShuffleSplit

In [23]:
#Import Data
chicago_df = pd.read_excel("Resources/chicago_case_schiller.xlsx")
national_df = pd.read_excel("Resources/national_case_schiller.xlsx")
interest_df = pd.read_excel("Resources/Mortgage_Rate_National.xlsx")
cookunemployment = pd.read_excel("Resources/Cook_County_Unemployment.xlsx")
nationalunemployment = pd.read_excel("Resources/National_unemployment.xlsx")

#Clean and merge data together
interest_df['Year'] = pd.DatetimeIndex(interest_df['Date']).year
interest_df['Month'] = pd.DatetimeIndex(interest_df['Date']).month
interest_df = interest_df[["Date", "Year", "Month", "Mortgage Interest Rate"]]
interest_df = interest_df.groupby(['Year','Month']).mean()

house_price_index = chicago_df.merge(national_df, how='inner', on='Date')
house_price_index['Year'] = pd.DatetimeIndex(house_price_index['Date']).year
house_price_index['Month'] = pd.DatetimeIndex(house_price_index['Date']).month
house_price_index = house_price_index[["Date","Month", "Year", "Chicago Home Price Index", "National Home Price Index"]]

unemployment= cookunemployment.merge(nationalunemployment, how='inner', on='Date')
unemployment['Year'] = pd.DatetimeIndex(unemployment['Date']).year
unemployment['Month'] = pd.DatetimeIndex(unemployment['Date']).month
unemployment = unemployment[["Date","Month", "Year", "National Unemployment Rate", "Cook County Unemployment Rate"]]

priceunemploymentdf = house_price_index.merge(unemployment, how='inner', on=['Date', 'Month', 'Year'])

priceunemploymentdf = priceunemploymentdf[["Year", "Month", "Chicago Home Price Index", "National Home Price Index", "National Unemployment Rate", "Cook County Unemployment Rate"]]

merged_df = priceunemploymentdf.merge(interest_df, how='inner', on=['Year', 'Month'])

In [24]:
merged_df

,Year,Month,Chicago Home Price Index,National Home Price Index,National Unemployment Rate,Cook County Unemployment Rate,Mortgage Interest Rate
0,1990,1,69.355887,76.897,5.4,7.6,9.8950
1,1990,2,68.700554,77.053,5.3,7.2,10.1975
2,1990,3,68.904077,77.200,5.2,7.0,10.2680
3,1990,4,69.475721,77.277,5.4,7.4,10.3700
4,1990,5,69.995388,77.297,5.4,7.0,10.4775
...,...,...,...,...,...,...,...
371,2020,12,155.457127,235.568,6.7,9.4,2.6840
372,2021,1,156.633251,238.555,6.3,9.8,2.7350
373,2021,2,157.326126,241.624,6.2,9.5,2.8100
374,2021,3,158.730817,245.303,6.0,8.4,3.0825
375,2021,4,160.260906,249.166,6.1,8.7,3.0600